/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #06021a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    color: #fff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-form,
.contact-info {
    padding: 20px;
    background-color: #020616cb;
    border: 1px solid #ddd;
    color: #fff;
}

h2 {
    margin-bottom: 15px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-media {
    margin-top: 20px;
    
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
}

.social-icon:hover {
    background-color: #0056b3;
}


