* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    display: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
    bottom: 0;
    /* background-color:rgb(109, 120, 125); */
    background-color: rgb(20, 26, 30);
   font-family: sans-serif;
    color: white;
    position: relative;
}
footer .icon a img{
    width: 40px;
}
footer .icon a {
    padding: 0px 9px;
    margin: 3px;
    text-decoration: none;
}
footer h3{
  padding: 13px;
  font-size: smaller;
}
footer .copy{
    padding: 12px;
    font-size: smaller;
}

footer .logo1{
position: absolute;
left: 76px;
top: 0;
/* background-color: rgb(20, 26, 30); */
}

footer .logo1 img{
    width: 120px;
}
