* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: rgb(13, 15, 20);
   font-family: sans-serif;
    color: white;
    position: relative;
}
.icon a img{
    width: 40px;
}
.icon a {
    padding: 0px 9px;
    margin: 3px;
    text-decoration: none;
}
h3{
  padding: 13px;
}
.copy{
    padding: 12px;
}

.logo1{
position: absolute;
left: 76px;
top: 0;
}

.logo1 img{
    width: 134px;
}
